@font-face {
    font-family: "CustomFont";
    src: url("../font/CWG-Sans-1.otf");
         
}

@font-face {
    font-family: "思源宋体 CN";
    src: url("../font/SourceHanSerifCN-Bold.otf");
}

@font-face {
    font-family: "CustomFont2";
    src: url("../font/Arial Narrow.ttf");
         
}

body {
    font-family: Arial;
    /* 默认字体 */
}

h1 {
    font-family: "思源宋体 CN" !important;
    font-weight: normal;
    /* 中文标题 */
}

body:lang(en) {
    font-family: "CustomFont";
    /* 英文字体 */
}

/* h1:lang(en) {
    font-family: "CustomFont";
    
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "CustomFont", Arial, sans-serif;
}

html,
body {
    position: relative;
    height: 100%;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.nav2{
    display: none;
}
 
.banner2{
    display: none;
}

.circle1
{
    display: none;
}
.close1
{
    display: none;
}

.swiper-container {
    width: 100%;
    /* height: 1030px; */
    position: relative;
}
.swiper-button-next1, .swiper-button-prev1{
    color: #fff;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev
{
    background-image: url('../images/right.png');
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next
{
    background-image: url('../images/left.png');
}

.swqq1 .swiper-pagination {
    text-align: right;
    /* left: 1600px !important; */
    right: 0px;
    bottom:60px;
    width: 200px;
}

.swqq1 .swiper-pagination-bullet {
    width: 2px;
    height: 32px;
    background-color: #fff;
    border-radius: 2px;
    opacity: 1;
    z-index: 9999;
    margin-right: 15px !important;
}

.swqq1 .swiper-pagination-bullet-active {
    height: 50px;
    background-color: #fff;
    width: 4px;
}

.swqq1 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    position: relative;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swqq1 .swiper-slide img,
.swqq1 .swiper-slide video {
    width: 100%;
}

/* .swqq1 .swiper-slide ul {
    position: absolute;
    width: 473px;
    height: 30px;
    bottom: 60px;
    left: 150px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 111;
} */

.swqq1  ul {
    position: absolute;
    width: 473px;
    height: 30px;
    bottom: 60px;
    /* left: 150px; */
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 111;
}

.wy {
    display: block;
    background: url('../images/icon.png') no-repeat 0 0;
    width: 27px;
    height: 30px;
}

.ap {
    display: block;
    background: url('../images/icon.png') no-repeat -73px 0px;
    width: 60px;
    height: 30px;
    /* transform: translateY(15px); */
}

.y1 {
    display: block;
    background: url('../images/icon.png') no-repeat -173px 0px;
    width: 40px;
    height: 30px;
    /* transform: translateY(15px); */

}

.y2 {
    display: block;
    background: url('../images/icon.png') no-repeat -263px 0px;
    width: 40px;
    height: 30px;
    /* transform: translateY(10px); */

}

.y3 {
    display: block;
    background: url('../images/icon.png') no-repeat -343px 0px;
    width: 50px;
    height: 30px;
    /* transform: translateY(10px); */

}

.y4 {
    display: block;
    background: url('../images/icon.png') no-repeat -436px 0;
    width: 40px;
    height: 30px;
}

.xg {
    width: 100%;
    height: 10px;
    transform: translateY(20px);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 111;
    box-shadow: 20px -23px 50px #f82104;
}
.arrow
{
    width: 100%;
    height: 10px;
    
    position: absolute;
    bottom: 20px;
    left: 0;
    text-align: center;
    z-index: 111;
}


.minWidth2 {
    
    min-width: 1920px !important;
   
    
}

.minWidth3 {
    
    min-width: 1920px !important;
   
    
}

.minWidth {
    width: 1920px !important;
    /* min-width: 1920px !important; */
    /* background-size: 100%; */
    margin: 0 auto;
}





  /* @media (min-width: 1230px){

    nav {
        width: 95%;
        margin-right: 50px;
    }

    .minWidth2 {
    
        min-width: 1200px !important;
       
        
    }
 
  }
  @media (min-width: 1430px){
   
    .minWidth2 {
    
        min-width: 1400px !important;
       
        
    }
  } */

  /* @media (max-width: 1910px) {
    
    
    .minWidth2 {
    
        min-width: 100% !important;
       
        
    }
  } */
  
  /* @media (max-width: 1920px) {
    
    
    .minWidth2 {
    
        min-width: 1920px !important;
       
        
    }
  } */
    
  /* @media (min-width: 2510px) {
    
    .minWidth2 {
    
        min-width: 1920px !important;
       
        
    }
  }  */

/* 导航 */
nav {
    width: 100%;
     min-width: 1920px; 
    margin: 0 auto;
    height: 90px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    /* position: absolute; */
    z-index: 999;
    text-align: center;
    position: fixed;
    /* margin-left: 2.5%; */
    opacity:0.8;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* 固定样式 */
}

.left {
    width: 1600px;
    height: 90px;
    line-height: 90px;
    background-color: #fff;
    border-radius: 45px;
    display: flex;
    justify-content: space-between;
}

.right {
    width: 50px;
    height: 50px;
    background-color: #fff;
    line-height: 90px;
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    color: #71c8d9;
    font-weight: 700;
    font-size: 18px;
}

.logo {
    width: 190px;
}

.logo img {
    width: 100%;
    vertical-align: middle;
    margin-left: 50px;
}

.list {
    display: flex;
    justify-content: center;
}

.list li {
    margin-left: 80px;
}

.list li a {
    font-size: 16px;
    line-height: 60px;
    cursor: pointer;
    color: #000;
}
.list li a:hover {
    color: #71c8d9;
    
}

.bottom {
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 30px;
    width: 50px;
    height: 50px;
}

.bottom a {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../images/bt.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.active {
    color: #71c8d9 !important;
}

/* 上海彩虹室内合唱团 */
.choir {
    width: 100%;
    height: 1000px;
    /* background: url(../images/choirBg.png) no-repeat; */
    padding-top: 200px;
    padding-left: 120px;
    overflow: hidden;
}

.choir_container{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}


.choir_content {
    width: 600px;
    height: 600px;
    overflow-y: scroll;
    margin-top: 50px;
    /* 显示垂直滚动条 */
}

.choir_container_left
{
    width: 600px;
}

.choir_container_right {
    width: 1100px;
    height: 724px;
    padding-top:100px;;
}

.choir_container_right img {
    width: 100%;
   
}

/* 针对 WebKit 内核浏览器（如 Chrome、Safari）样式定制 */
.choir_content::-webkit-scrollbar {
    width: 0px;
}

.choir_content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0px;
}

.choir_content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.choir>h1 {
    color: #fff;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 3px;
    margin-bottom: 50px;

}

.choir_content>p {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 2em;
    margin-bottom: 15px;
    color: #333;
}

/* 金承志 */
.jinchengzhi {
    width: 100%;
    height: 1100px;
    /* background-image: url(../images/jinchengzhi.png);
    background-size: 100% 105vh; */
    /* background-repeat: no-repeat; */
    position: relative;
    overflow: hidden;
}

.jinchengzhi>.l {
    position: absolute;
    top: 0;
    left: 80px;
    width: 1293px;
    text-align: center;
    padding-top: 100px;
}
.jinchengzhi>.l>img {
   width: 100%;
}

.jinchengzhi>.r {
    position: absolute;
    top: 0;
    right: 0;
    width: 1000px;
    text-align: center;
    padding-top: 100px;
}

.jinchengzhi>.r>h1 {
    color: #fff;
    font-size: 80px;
    letter-spacing: 5px;
    margin-bottom: 150px;
}

.jinchengzhi>.r>.j_cpntent {
    width: 800px;
    height: 700px;
    margin: 0 auto;
    overflow-y: scroll;
    /* 显示垂直滚动条 */
}

/* 针对 WebKit 内核浏览器（如 Chrome、Safari）样式定制 */
.j_cpntent::-webkit-scrollbar {
    width: 0px;
}

.j_cpntent::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0px;
}

.j_cpntent::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.jinchengzhi>.r>.j_cpntent>p {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 2em;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}

.items {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.items .item {
    width: 45%;
    height: 467px;
    background-color: #101111;
    margin-top: 10px;
    position: relative;
    margin-bottom: 50px;
}

.items .item img {
    max-width: 100%;
    height: 100%;
}

.items .item .btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 56px;
    height: 56px;
    background: url(../images/icon2.png);
    background-size: contain;
    cursor: pointer;
}


.popframe
{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
    background-color: rgb(18, 27, 45,0.96);
   
    overflow: hidden;
    z-index: 20000;
}

.popframe>.close {
    position: absolute;
    top:55px;
    right: 110px;
   
}
.popframe>.close>img {
    width: 70px;
    
}



/* 图片详情 */
.details {
    
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 100px;
    overflow: hidden;
 
}



.details h2 {
    color: #fff;
    margin-right: 300px;
    transform: translateY(95%);
}

.details img {
    width: 616px;
}

.content_bg{
    width:100%;
    min-width: 1920px;
    background-image: url(../images/chycBG.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed ;
}


/* 彩虹作品 */
.rainbowWorks {
    width: 100%;
    height: 1000px;

    position: relative;
    display: flex;
    justify-content: left;
    padding-top: 200px;
    padding-left: 150px;
    overflow: hidden;
    
}

.rainbowWorks_lf {
    width: 380px;
}

.rainbowWorks_lf h1 {
    color: #fff;
    font-size: 80px;
    letter-spacing: 5px;
    margin-bottom: 150px;
}

.rainbowWorks_lf .cont h2 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 25px;
}

.rainbowWorks_lf .cont p {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 2em;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
}


.rainbowWorks_lr2 {
    width: 380px;
  
    position: absolute;
    top: 460px;
    right: 790px;
}
.rainbowWorks_lr2>img {
    width: 100%;
}




.rainbowWorks_lr {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 460px;
    right: 190px;
}

.it {
    width: 700%;
    height: 500px;
}

.it .c {
    cursor: pointer;
    display: inline-block;
    width: 378px;
    vertical-align: middle;
    position: absolute;
    transition: all .5s linear;
    box-shadow: -10px 0 -1px -5px rgba(0, 0, 0, 0.75);
    text-align: left;
}

.it .c a {
    display: block;
    width: 100%;
    height: 100%;
}

.it .c img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 374px;

}

.it .c:first-child {
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: none;

}

.it .c:nth-child(2) {
    left: 120px;
    top: 68px;
    z-index: 2;
}

.it .c:nth-child(3) {
    left: 252px;
    top: 28px;
    z-index: 3;
}

.it .c:nth-child(4) {
    left: 310px;
    top: 52px;
    z-index: 4;
}

.it .c:nth-child(5) {
    left: 404px;
    top: -15px;
    z-index: 5;
}

.it .c:nth-child(6) {
    left: 448px;
    top: -135px;
    z-index: 6;
}

.it .c:nth-child(7) {
    left: 750px;
    top: -90px;
    z-index: 7;
}

.it .c:nth-child(8) {
    left: 850px;
    top: -75px;
    z-index: 8;
}

.c>div {
    color: #fff;
    font-size: 22px;
    text-indent: 2px;
    letter-spacing: 2px;
}

.t,
.dnone {
    display: none;
    color: #fff;
    padding-left: 20px;
}

.q {
    display: block;
    color: #fff;
    padding-left: 20px;
}

.rightBtn {
    position: absolute;
    right: 0;
    top: 50%;
    width: 50px;
    height: 51px;
    transform: translateY(-50%);
    background: url(../images/arrow_right.png);
    z-index: 9999;
    cursor: pointer;
}

/* 彩虹演出 */
.rainbowperformance {
    width: 100%;
    height: auto;
    /* background-image: url(../images/chycBG.png);
    background-repeat: no-repeat; */
}

.rainbowperformance h1 {
    color: #fff;
    font-size: 80px;
    letter-spacing: 3px;
    margin-top: 100px;
    padding-left: 150px;
}

.aut {
    padding-top: 100px;
}

.rf_content {
    margin-top: 30px;
    width: 1700px;
    height: auto;
    display: flex;
    gap: 8%;
    /* justify-content: space-between; */
   margin-left: 140px;
   flex-wrap: wrap;
}

.rf_content .item {
    width: 28%;
    height: 663px;
    /* margin: 0 50px; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
}

.rf_content .item img {
    display: block;
    width: 100%;
    
    transition: all .3s linear;
    cursor: pointer;
}

.mask {
    position: absolute;
    /* top: 100%; */
    top:0;
    opacity: 0;
    left: 0;
    transition: all .3s linear;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 27, 45, 0.9);
    z-index: 11;
    color: #fff;
    text-align: center;
    line-height: 100%;
    font-size: 32px;
    padding-top: 50%;
    line-height: 120%;
}
.font22
{
    font-size: 22px;
    font-family: "思源宋体 CN" !important;
}

.rf_content .item:hover .mask {
    /* top: 0; */
    opacity: 1;
    transition: all .3s linear;
}

.rf_content .item:hover img {
    transform: scale(1.05);
    transition: all .3s linear;
}

.ckgd,
.ckgd1 {
    display: block;
    margin: 0px auto;
    width: 160px;
    height: 45px;
    border-radius: 25px;
    text-align: center;
    line-height: 45px;
    color: #71c8d9;
    background-color: #eee;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: -10px 0 -1px -5px rgba(0, 0, 0, 0.75);
}

.rainbowperformanceDetails {
    width: 100%;
 
    display: flex;
    justify-content: space-around;
    padding-top: 55px;
    overflow: hidden;
}

.rainbowperformanceDetails .l {
    width: 650px;
    height: 970px;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.m {
    width: 515px;
}

.m h1 {
    color: #fff;
    margin: 50px 0 50px;
    font-size: 40px;
}

.m p {
    color: #fff;
    font-size: 16px;
    margin: 20px 0;
}

.m p span {
    display: inline-block;
    margin-right: 30px;
}

.m p:last-of-type {
    margin-top: 50px;
}

.out_r
{
    width: 410px;
    overflow: hidden;
    /* padding-top: 160px; */
}

.out_r>.r {
    width: 430px;
    text-align: left;
    height: 780px;
    /* overflow-y:; */
    overflow-y: scroll;
}

.out_r>.r h3 {
    color: #eee;
    text-align: left;
    
    font-size: 16px;
    margin-bottom: 20px;
}

.out_r>.r p {
    margin: 20px 0;
    color: #fff;
    font-size: 16px;
    line-height: 100%;
}

/* 合作与探索 */
.CollaborationAndExploration {
    width: 100%;
    /* height: 1050px; */
    /* background-image: url(../images/chycBG.png);
    background-repeat: no-repeat; */
    padding: 80px 20px 10px;
    overflow: hidden;

}

.CollaborationAndExploration .ccont1 {
    width: 1700px;
    height: auto;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.CollaborationAndExploration .box {
    width: 25%;
    height: 260px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.CollaborationAndExploration .box img {
    width: 100%;
    height: 260px;
    transition: all .5s linear;
}

.CollaborationAndExploration .box2 {
    width: 50%;
    background: url(../images/x1.png);
    background-size: 100%;
    font-size: 80px;
    color: #eee;
    letter-spacing: 3px;

}

.jb {
    /* color: #eee !important; */
    background-image: linear-gradient(to bottom, #ffffff 0%,  #a7e1eb 100%);
    /* background-image: -webkit-radial-gradient(to bottom, #ffffff 0%,  #a7e1eb 100%); */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    line-height: 110%;
    font-size: 80px;
    font-family: "思源宋体 CN";
}

.mq {
    width: 100%;
    color: #eee;
    font-size: 32px;
    text-align: center;
    transition: all .5s linear;
    height: 100%;
    position: absolute;
    /* top: 100%; */
    opacity: 0;
    left: 0;
    top:0;
    background-color: rgba(18, 27, 45, 0.9);
    padding-top: 100px;
    padding-left:20px;
    padding-right:20px;
}

.clickBox:hover .mq {
    /* top: 0; */
    opacity: 1;
    transition: all .5s linear;

}

.clickBox:hover img {
    transform: scale(1.05);
    transition: all .5s linear;
}

.ckgd1 {
    margin: 60px auto;
}

.none {
    display: none;
}

.footer {
    width: 100%;
    height: 300px;
    background-color: #121b2d;
    padding: 30px 100px;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    
}

.footer .row a:first-child {
    background: url('../images/logobar/white/logo-bar-1.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:nth-child(2) {
    background: url('../images/logobar/white/logo-bar-2.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:nth-child(3) {
    background: url('../images/logobar/white/logo-bar-3.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:nth-child(4) {
    background: url('../images/logobar/white/logo-bar-4.png') no-repeat;
    background-size: cover;
    width: 74px;
    height: 40px;
}

.footer .row a:nth-child(5) {
    background: url('../images/logobar/white/logo-bar-5.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:nth-child(6) {
    background: url('../images/logobar/white/logo-bar-6.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:nth-child(7) {
    background: url('../images/logobar/white/logo-bar-7.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 40px;
     

}

.footer .row a:nth-child(8) {
    background: url('../images/logobar/white/logo-bar-8.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:nth-child(9) {
    background: url('../images/logobar/white/logo-bar-9.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;

}

.footer .row a:nth-child(10) {
    background: url('../images/logobar/white/logo-bar-10.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
   

}

.footer .row a:nth-child(11) {
    background: url('../images/logobar/white/logo-bar-11.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;

}

.footer .row a:nth-child(12) {
    background: url('../images/logobar/white/logo-bar-12.png') no-repeat;
     background-size: cover;
     width: 43px;
     height: 40px;

}

.footer .row a:nth-child(13) {
    background: url('../images/logobar/white/logo-bar-13.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;

}

.footer .row a:nth-child(14) {
    background: url('../images/logobar/white/logo-bar-14.png') no-repeat;
    background-size: cover;
    width: 102px;
    height: 40px;
}

.footer .row a:nth-child(15) {
    background: url('../images/logobar/white/logo-bar-15.png') no-repeat;
    background-size: cover;
    width: 96px;
    height: 40px;

}

.footer .row a:nth-child(16) {
    background: url('../images/logobar/white/logo-bar-16.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
 
}

/* 彩色 */


.footer .row a:hover:first-child {
    background: url('../images/logobar/4c/logo-bar-1.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:hover:nth-child(2) {
    background: url('../images/logobar/4c/logo-bar-2.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:hover:nth-child(3) {
    background: url('../images/logobar/4c/logo-bar-3.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:hover:nth-child(4) {
    background: url('../images/logobar/4c/logo-bar-4.png') no-repeat;
    background-size: cover;
    width: 74px;
    height: 40px;
}

.footer .row a:hover:nth-child(5) {
    background: url('../images/logobar/4c/logo-bar-5.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:hover:nth-child(6) {
    background: url('../images/logobar/4c/logo-bar-6.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:hover:nth-child(7) {
    background: url('../images/logobar/4c/logo-bar-7.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 40px;
     

}

.footer .row a:hover:nth-child(8) {
    background: url('../images/logobar/4c/logo-bar-8.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
}

.footer .row a:hover:nth-child(9) {
    background: url('../images/logobar/4c/logo-bar-9.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;

}

.footer .row a:hover:nth-child(10) {
    background: url('../images/logobar/4c/logo-bar-10.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
   

}

.footer .row a:hover:nth-child(11) {
    background: url('../images/logobar/4c/logo-bar-11.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;

}

.footer .row a:hover:nth-child(12) {
    background: url('../images/logobar/4c/logo-bar-12.png') no-repeat;
     background-size: cover;
     width: 43px;
     height: 40px;

}

.footer .row a:hover:nth-child(13) {
    background: url('../images/logobar/4c/logo-bar-13.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;

}

.footer .row a:hover:nth-child(14) {
    background: url('../images/logobar/4c/logo-bar-14.png') no-repeat;
    background-size: cover;
    width: 102px;
    height: 40px;
}

.footer .row a:hover:nth-child(15) {
    background: url('../images/logobar/4c/logo-bar-15.png') no-repeat;
    background-size: cover;
    width: 96px;
    height: 40px;

}

.footer .row a:hover:nth-child(16) {
    background: url('../images/logobar/4c/logo-bar-16.png') no-repeat;
    background-size: cover;
    width: 43px;
    height: 40px;
 
}




 



/* .footer .row a:hover:first-child {
    background: url('../images/iconlist2.png') no-repeat 0 -7px;
    width: 47px;
    height: 38px;
}

.footer .row a:hover:nth-child(2) {
    background: url('../images/iconlist2.png') no-repeat -102px -6px;
    width: 36px;
    height: 41px;
}

.footer .row a:hover:nth-child(3) {
    background: url('../images/iconlist2.png') no-repeat -196px -10px;
    width: 35px;
    height: 34px;
}

.footer .row a:hover:nth-child(4) {
    background: url('../images/iconlist2.png') no-repeat -301px -11px;
    width: 69px;
    height: 32px;
    
    
}

.footer .row a:hover:nth-child(5) {
    background: url('../images/iconlist2.png') no-repeat -439px -11px;
    width: 39px;
    height: 32px;

    
}

.footer .row a:hover:nth-child(6) {
    background: url('../images/iconlist2.png') no-repeat -549px -12px;
    width: 38px;
    height: 32px;
}

.footer .row a:hover:nth-child(7) {
    background: url('../images/iconlist2.png') no-repeat -667px -14px;
    width: 69px;
    height: 25px;
}

.footer .row a:hover:nth-child(8) {
    background: url('../images/iconlist2.png') no-repeat -814px -13px;
    width: 41px;
    height: 30px
}

.footer .row a:hover:nth-child(9) {
    background: url('../images/iconlist2.png') no-repeat -942px -6px;
    width: 37px;
    height: 43px;
}

.footer .row a:hover:nth-child(10) {
    background: url('../images/iconlist2.png') no-repeat -1064px 0;
    width: 41px;
    height: 46px;
}

.footer .row a:hover:nth-child(11) {
    background: url('../images/iconlist2.png') no-repeat -1187px -2px;
    width: 40px;
    height: 43px;
}

.footer .row a:hover:nth-child(12) {
    background: url('../images/iconlist2.png') no-repeat -1311px -2px;
    width: 41px;
    height: 42px;
}

.footer .row a:hover:nth-child(13) {
    background: url('../images/iconlist2.png') no-repeat -1430px 0;
    width: 43px;
    height: 46px;
}

.footer .row a:hover:nth-child(14) {
    background: url('../images/iconlist2.png') no-repeat -1549px -6px;
    width: 109px;
    height: 33px;
}

.footer .row a:hover:nth-child(15) {
    background: url('../images/iconlist2.png') no-repeat -1725px -13px;
    width: 89px;
    height: 22px;
}

.footer .row a:hover:nth-child(16) {
    background: url('../images/iconlist2.png') no-repeat -1872px -0px;
    width: 61px;
    height: 52px;
} */

.footer .row {
    padding-top: 30px;
}

.r2 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;

}

.is {
    color: #92969e;
    font-size: 14px;
    margin-top: 20px;
    font-family: "CustomFont2" !important;
}

.is a {

    font-family: "CustomFont2" !important;
}


.m>img {
    width: 80px;
}

.cont-logo
{
    padding-top: 50px;
}
.cont-logo img
{
    width: 60px;
}


/* @media (min-width: 576px) {  }

 

@media (min-width: 768px) {  }

 

@media (min-width: 1024px) {  } */

 

/*小于1920*/
@media (max-width: 1900px) {

    .minWidth2 {
    
        min-width: 1280px !important;
       
        
    }

    .minWidth3 {
    
        min-width: 1280px !important;
       
        
    }
    
    .minWidth {
        width: 1280px !important;
        /* min-width: 1920px !important; */
        /* background-size: 100%; */
        margin: 0 auto;
    }

    nav {
        width: 100%;
         
        height: 90px;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        /* position: absolute; */
        z-index: 999;
        text-align: center;
        position: fixed;
        /* margin-left: 2.5%; */
        opacity:0.8;
    }

    .left {
        width: 85%;
        height: 100%;
        line-height: 100%;
        background-color: #fff;
        border-radius: 45px;
        display: flex;
        justify-content: space-between;
    }
    
    .right {
        width: 30px;
        height: 30px;
        background-color: #fff;
        line-height: 100%;
        margin-top: 20px;
        border-radius: 30px;
        margin-left: 30px;
        cursor: pointer;
        text-align: center;
        line-height: 30px;
        color: #71c8d9;
        font-weight: 700;
        font-size: 12px;
    }

    .swqq1 .swiper-pagination {
        text-align: right;
        /* left: 1360px !important; */
        right: 0px;
        bottom:60px;
        width: 200px;
    }
    .swqq1 .swiper-pagination-bullet {
        width: 2px;
        height: 32px;
        background-color: #fff;
        border-radius: 2px;
        opacity: 1;
        z-index: 9999;
        margin-right: 15px !important;
    }
    
    .swqq1 .swiper-pagination-bullet-active {
        height: 50px;
        background-color: #fff;
        width: 4px;
    }
     
    
    .logo {
        width: 130px;
    }
    
    .logo img {
        width: 100%;
        vertical-align: middle;
        margin-left: 50px;
        margin-top: 15px;
    }

    .bottom {
        margin-left: 60px;
        margin-right: 30px;
        margin-top: 20px;
        width: 25px;
        height: 25px;
    }
    
    .bottom a {
        display: block;
        width: 25px;
        height: 25px;
        background-image: url(../images/bt.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .content_bg{
        width:100%;
        min-width: 1280px;
        background-image: url(../images/chycBG.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed ;
    }

    .rf_content {
        margin-top: 30px;
        width: 1030px;
        height: 750px;
        display: flex;
        gap:8%;
        /* justify-content: space-between; */
       margin-left: 120px;
       
    }

    .choir {
         
        height: 800px;
        
    }

    .choir_container_left
    {
        width: 360px;
    }

    .jb {
        font-size: 50px;

    }

    .choir_content {
        width: 360px;
        height: 360px;
        overflow-y: scroll;
        margin-top: 50px;
        /* 显示垂直滚动条 */
    }
    .choir_content>p {
        font-size: 14px;
        
    }

    .choir_container_right {
        width: 700px;
        height: 524px;
        padding-top:80px;;
    }

    .jinchengzhi {
        
        height: 800px;
 
    }


    .jinchengzhi>.l {
        position: absolute;
        top: 0;
        left: 80px;
        width: 867px;
        text-align: center;
        padding-top: 100px;
    }

    .jinchengzhi>.r {
        position: absolute;
        top: 0;
        right: 0;
        width: 690px;
        text-align: center;
        padding-top: 100px;
    }
    .jinchengzhi>.r>h1 {
       
        font-size: 50px;
 
    }
    .jinchengzhi>.r>.j_cpntent {
        width: 540px;
        height: 700px;
        margin: 0 auto;
        overflow-y: scroll;
        /* 显示垂直滚动条 */
    }
    .jinchengzhi>.r>.j_cpntent>p {
        font-size: 14px;
  
    }
    .items .item {
        width: 40%;
        height: 288px;
        background-color: #101111;
        margin-top: 10px;
        position: relative;
        margin-bottom: 50px;
    }

    .items .item .btn {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30px;
        height: 30px;
        background: url(../images/icon2.png);
        background-size: contain;
        cursor: pointer;
    }

    .rainbowWorks_lf h1 {
       
        font-size: 50px;
  
    }
    .rainbowWorks_lf .cont {
       width: 242px;
    }


    .cont-logo img
    {
        width: 30px;
    }


    .rainbowWorks_lr {
        
        top:360px;
        right: -50px;
    }

    .it .c {
        
        width: 300px;
        
    }

    .rainbowWorks {
  
        height: 800px;
 
        padding-top: 100px;
     
        
    }

    .rainbowWorks_lf h1 {
 
        margin-bottom: 100px;
    }

    .rainbowWorks_lf .cont h2 {
        color: #fff;
        font-size: 22px;
        margin-bottom: 25px;
    }
    .rainbowWorks_lf .cont p {
        font-size: 14px;
        
    }
    

    .rainbowperformance {
        width: 100%;
        height: auto;
        /* background-image: url(../images/chycBG.png);
        background-repeat: no-repeat; */
    }

    .rainbowperformance h1 {
     
        font-size: 50px;
        padding-left: 120px;

       
    }

    
     

    .rf_content {
        
     
        height: auto;
        
    }

    .rf_content .item {
        
        /* margin: 0 25px; */
        height: 410px;
    }

    .mask {
       
        font-size: 22px;
        
    }
    .font22
    {
        font-size: 16px;
        font-family: "思源宋体 CN" !important;
    }

    .CollaborationAndExploration .ccont1 {
        width: 1050px;
        height: auto;
         
    }

    .CollaborationAndExploration .box2 {
        width: 50%;
        background: url(../images/x1.png);
        background-size: 100%;
        font-size: 50px;
        color: #eee;
        letter-spacing: 3px;
    
    }
    .CollaborationAndExploration .box {
        
        height: 170px;
      
    }
    .CollaborationAndExploration .box img {
        width: 100%;
        height: 170px;
        transition: all .5s linear;
    }

    .mq {
        
        font-size: 22px;
        padding-top: 50px;
        padding-left:10px;
        padding-right:10px;
    }
    .CollaborationAndExploration {
        
        /* height: 800px; */
        
    
    }


    .rainbowperformanceDetails .l {
        width: 430px;
        height: 650px;
        position: relative;
    }
 

.m {
    width: 370px;
}
.m>img {
    width: 50px;
}

.m h1 {
    color: #fff;
    margin: 50px 0 50px;
    font-size: 30px;
}

.m p {
    color: #fff;
    font-size: 12px;
    margin: 20px 0;
}

.m p span {
    display: inline-block;
    margin-right: 30px;
}

.m p:last-of-type {
    margin-top: 50px;
}

.out_r
{
    width: 310px;
    overflow: hidden;
    /* padding-top: 212px; */
}

.out_r>.r {
    width: 330px;
    text-align: left;
    height: 530px;
    /* overflow-y:; */
    overflow-y: scroll;
}

.out_r>.r h3 {
    color: #eee;
    text-align: left;
    
    font-size: 12px;
    margin-bottom: 20px;
}

.out_r>.r p {
    margin: 20px 0;
    color: #fff;
    font-size: 12px;
    line-height: 100%;
}
.popframe>.close>img {
    width: 50px;
    
}

.rainbowWorks_lr2 {
    width: 300px;
  
    position: absolute;
    top: 360px;
    right: 570px;
}
.rainbowWorks_lr2>img {
    width: 100%;
}

.details img {
    width: 416px;
}

.c>div {
    color: #fff;
    font-size: 14px;
    text-indent: 2px;
    letter-spacing: 2px;
}




.footer .row {
    display: flex;
    justify-content: space-between;
    
}

.footer .row a:first-child {
    background: url('../images/logobar/white/logo-bar-1.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:nth-child(2) {
    background: url('../images/logobar/white/logo-bar-2.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:nth-child(3) {
    background: url('../images/logobar/white/logo-bar-3.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:nth-child(4) {
    background: url('../images/logobar/white/logo-bar-4.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 30px;
}

.footer .row a:nth-child(5) {
    background: url('../images/logobar/white/logo-bar-5.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:nth-child(6) {
    background: url('../images/logobar/white/logo-bar-6.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:nth-child(7) {
    background: url('../images/logobar/white/logo-bar-7.png') no-repeat;
    background-size: cover;
    width: 42px;
    height: 30px;
     

}

.footer .row a:nth-child(8) {
    background: url('../images/logobar/white/logo-bar-8.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:nth-child(9) {
    background: url('../images/logobar/white/logo-bar-9.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;

}

.footer .row a:nth-child(10) {
    background: url('../images/logobar/white/logo-bar-10.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
   

}

.footer .row a:nth-child(11) {
    background: url('../images/logobar/white/logo-bar-11.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;

}

.footer .row a:nth-child(12) {
    background: url('../images/logobar/white/logo-bar-12.png') no-repeat;
     background-size: cover;
     width: 32px;
     height: 30px;

}

.footer .row a:nth-child(13) {
    background: url('../images/logobar/white/logo-bar-13.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;

}

.footer .row a:nth-child(14) {
    background: url('../images/logobar/white/logo-bar-14.png') no-repeat;
    background-size: cover;
    width: 77px;
    height: 30px;
}

.footer .row a:nth-child(15) {
    background: url('../images/logobar/white/logo-bar-15.png') no-repeat;
    background-size: cover;
    width: 72px;
    height: 30px;

}

.footer .row a:nth-child(16) {
    background: url('../images/logobar/white/logo-bar-16.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
 
}

/* 彩色 */


.footer .row a:hover:first-child {
    background: url('../images/logobar/4c/logo-bar-1.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:hover:nth-child(2) {
    background: url('../images/logobar/4c/logo-bar-2.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:hover:nth-child(3) {
    background: url('../images/logobar/4c/logo-bar-3.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:hover:nth-child(4) {
    background: url('../images/logobar/4c/logo-bar-4.png') no-repeat;
    background-size: cover;
    width: 56px;
    height: 30px;
}

.footer .row a:hover:nth-child(5) {
    background: url('../images/logobar/4c/logo-bar-5.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:hover:nth-child(6) {
    background: url('../images/logobar/4c/logo-bar-6.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:hover:nth-child(7) {
    background: url('../images/logobar/4c/logo-bar-7.png') no-repeat;
    background-size: cover;
    width: 42px;
    height: 30px;
     

}

.footer .row a:hover:nth-child(8) {
    background: url('../images/logobar/4c/logo-bar-8.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
}

.footer .row a:hover:nth-child(9) {
    background: url('../images/logobar/4c/logo-bar-9.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;

}

.footer .row a:hover:nth-child(10) {
    background: url('../images/logobar/4c/logo-bar-10.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
   

}

.footer .row a:hover:nth-child(11) {
    background: url('../images/logobar/4c/logo-bar-11.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;

}

.footer .row a:hover:nth-child(12) {
    background: url('../images/logobar/4c/logo-bar-12.png') no-repeat;
     background-size: cover;
     width: 32px;
    height: 30px;

}

.footer .row a:hover:nth-child(13) {
    background: url('../images/logobar/4c/logo-bar-13.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;

}

.footer .row a:hover:nth-child(14) {
    background: url('../images/logobar/4c/logo-bar-14.png') no-repeat;
    background-size: cover;
    width: 77px;
    height: 30px;
}

.footer .row a:hover:nth-child(15) {
    background: url('../images/logobar/4c/logo-bar-15.png') no-repeat;
    background-size: cover;
    width: 72px;
    height: 30px;

}

.footer .row a:hover:nth-child(16) {
    background: url('../images/logobar/4c/logo-bar-16.png') no-repeat;
    background-size: cover;
    width: 32px;
    height: 30px;
 
}



 }

 


















 /*小于等于750*/
 @media(max-width:768px){
    /* .container,.container-main{ max-width: 100%; width: 100% }
    .layer{padding:0 15px;}
 
    .navbar{ height: 45px;padding:0 15px; }
.layer-body{padding:0 15px;}
.logo{ width: 225px }
.layer .layer-tit{padding:10px 0 10px 20px; font-size:16px;}
.layer .layer-tit:after{ border-width: 8px }
.home-news .line-body-right:after{ display: none; }
.home-news h2{ font-size: 14px;}
.home-news p.newdate{ font-size: 14px;margin:0 }
.home-news p.newsDec{display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 3;overflow: hidden; line-height: 18px;}
.home-news .nav-tabs{ margin-top: 15px }
.home-MoreNews .home-more-tit{ font-size:2.4rem; }
.mbWarp{display: block; white-space: nowrap; overflow: auto;}
.mbWarp .col-3{ width: 35rem;  flex:0; display: inline-block; max-width: 100%}
.menu{width: 100%; height: 100%; position:fixed; z-index: 1000; background:rgba(255,255,255,1); top: 0; left: 0; display: none; flex-direction: column; }
.box-hover{ padding:0 10px; }
.navbar-toggler{ padding:0; font-size: 30px; font-weight: 600; border:0; }
button:focus{outline: 0}
.mb-menu-top{ display:flex; align-items: center;padding:15px 25px; justify-content: space-between; }
.mb-menu-top .mb_logo{ width: 100px;  }
.mb-menu-top .mb_colse{ font-size: 40px }
.menu .menu-nav{ flex:1; overflow: auto; padding:40px; flex-direction: column; }
.menu-nav .nav-item, .submenu li a{ font-size:14px; line-height: 24px; height:auto; padding:10px 0; }
.menu-nav .nav-item{ border-bottom: solid 1px #000; width: 100%; text-align: center; justify-content: center; flex-direction: column;  padding:0;}
.menu-nav .nav-item .nav-link{ padding:10px 0; display: block; width: 100% }
.submenu{ position: static;  opacity: 1; visibility: visible; border-top:solid 1px #000; width: 100% ; padding:10px 0; display: none;}
.poisW{ left: inherit; margin: 0 }
.menu-nav .nav-item .nav-link:after{ display: none; }
.menu-nav .nav-item .hasSubmenu:before{ content: ''; width:15px; height: 15px; background: url(../images/arr.png) no-repeat center ; background-size: 100% auto; position: absolute; top: 0; bottom: 0; margin: auto 0; right: 3rem }
.menu-nav .nav-item .hasSubmenu.active{color:#4F9BF3;}
.menu-nav .nav-item .hasSubmenu.active:before{ transform:rotate(180deg); } */


    .minWidth2 {
    
        min-width: 750px !important;
       
        
    }

    .minWidth3 {
    
        min-width: 750px !important;
       
        
    }
    
    .minWidth {
        width: 750px !important;
        /* min-width: 1920px !important; */
        /* background-size: 100%; */
        margin: 0 auto;
    }

    .nav1 {
        display: none
    }
    .nav2{
        display: block;
    }
    .banner1 {
        display: none;
    }
    .banner2{
        display: block;
    }


    .nav2 {
        width: 670px;
        height: 168px;;
        position: absolute;
        z-index: 100;
        top:100px;
        left: 40px;
        
    }
    .nav2 .logo2
    {
        width: 223px;
        float: left;
    }
    .nav2 .logo2 img
    {
        width: 223px;
    
    }
    .nav2 .menu2
    {
        position: fixed;
        width: 60px;
        height: 220px;
        /* float: right; */
        right: 50px;  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


     .menulist{
        position: fixed;
        /* position: absolute; */
        right: 0;
        width: 380px;
        height: 100%;
        background-color: #FFF;
        z-index: 101;
        opacity: 0.96;
    }
    .menulist .list2{
    
        position: absolute;
        right: 0;
        width: 180px;
        height: 530px;
        top:360px;
        right:40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
        font-size: 30px;
        
    }
    

    .nav2 .right2 {
        width: 60px;
        height: 60px;
        background-color: #71c8d9;
        border-radius: 60px;
        cursor: pointer;
        text-align: center;
        line-height: 60px;
        color: #fff;
        font-weight: 700;
        font-size: 26px;
        /* position:absolute; */
        /* bottom: 115px;
        right:40px; */
    }

    .menulist .close
    {
        position: absolute;
        left: 33px;
        top: 100px;
    }


    .swiper-container {
        
        width: 100%;
        height: 1334px;
        position: relative;
    }

    /* .swqq1 .swiper-slide ul {
        position: absolute;
        width: 473px;
        height: 30px;
        bottom: 120px;
        left: 80px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        z-index: 111;
    } */
    .swqq1  ul {
        position: absolute;
        width: 473px;
        height: 30px;
        bottom: 120px;
        left: 80px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        z-index: 111;
    }
    
 
    .swqq1 .swiper-pagination {
        text-align: right;
        left: 480px !important;
        bottom:120px;
        width: 200px;
    }
   
    .swqq1 .swiper-pagination-bullet {
        width: 2px;
        height: 25px;
        background-color: #fff;
        border-radius: 2px;
        opacity: 1;
        z-index: 9999;
        margin-right: 8px !important;
    }
    
    .swqq1 .swiper-pagination-bullet-active {
        height: 40px;
        background-color: #fff;
        width: 4px;
    }

    

    .content_bg{
        width:100%;
        min-width: 750px;
        background-image: url(../images/chycBG.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed ;
    }

    .rf_content {
        margin-top: 30px;
        width: 750px;
        height: 750px;
        display: flex;
        justify-content: space-between;
       margin-left: 0px;
       gap:0%;
    }

    .choir {
        width: 100%;
        height: auto;
        /* background: url(../images/choirBg.png) no-repeat; */
        padding-top: 230px;
        padding-left: 0px;
        overflow: hidden;
    }
    
    .choir_container{
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        
        
    }

    .choir_container_left
    {
        width: 100%;
        padding-left: 40px;
    }

    .jb {
        font-size: 70px;

    }

    .choir_content {
        width: 670px;
        height: auto;
        
        margin-top: 50px;
        /* 显示垂直滚动条 */
    }
    .choir_content>p {
        font-size: 28px;
        
    }

    .choir_container_right {
        width: 100%;
        height: auto;
        padding-top:100px;;
    }

    .jinchengzhi {
        
        height: 2000px;
 
    }
    .jinchengzhi .circle1
    {
        background: url(../images/mobile/circle1.png) no-repeat;
        height: 122px;
        margin-top: 200px;
        padding-left: 40px;
        padding-top: 10px;
    }

    .jinchengzhi>.l {
        position: absolute;
        top: 150px;
        left: 40px;
        width: 1100px;
        text-align: center;
        padding-top: 100px;
    }

    .jinchengzhi>.r {
        position: absolute;
        top: 1050px;
        right: 40px;
        width: 670px;
        text-align: center;
        padding-top: 100px;
    }
    .jinchengzhi>.r>h1 {
       
        font-size: 50px;
        display: none;
    }
    .jinchengzhi>.r>.j_cpntent {
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow-y: scroll;
        /* 显示垂直滚动条 */
    }
    .jinchengzhi>.r>.j_cpntent>p {
        font-size: 28px;
  
    }
    .items
    {
        margin-top: 50px;
    }
    .items .item {
        width: 45%;
        height: 394px;
        /* background-color: #101111; */
        margin-top: 10px;
        position: relative;
        margin-bottom: 50px;
    }

    .items .item .btn {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 60px;
        height: 60px;
        background: url(../images/icon2.png);
        background-size: contain;
        cursor: pointer;
    }

    .ckgd, .ckgd1
    {
        font-size: 22px;
    }

    .rainbowWorks
    {
        padding-left: 40px;
    }

    .rainbowWorks_lf
    {width: 670px;

    }
    .rainbowWorks_lf h1 {
       
        font-size: 70px;
  
    }
    .rainbowWorks_lf .cont {
        margin-top: 600px;
       width: 100%;
    }

    .rainbowWorks_lr {
        width: 570px;
        height: 500px;
        position: absolute;
        top:300px;
        right: 30px;
    }

    .it .c {
        
        width: 300px;
        
    }

    .rainbowWorks {
  
        height: 1300px;
 
        padding-top: 100px;
     
        
    }

    .rainbowWorks_lf h1 {
 
        margin-bottom: 100px;
    }

    .rainbowWorks_lf .cont h2 {
        color: #fff;
        font-size: 32px;
        
    }
    .rainbowWorks_lf .cont p {
        font-size: 28px;
        
    }

    .rightBtn {
        position: absolute;
        right: 0;
        top: 25%;
        width: 50px;
        height: 50px;
        transform: translateY(-50%);
        background: url(../images/arrow_right.png);
        z-index: 9999;
        cursor: pointer;
    }

    

    .rainbowperformance {
        width: 100%;
        height: auto;
        /* background-image: url(../images/chycBG.png);
        background-repeat: no-repeat; */
    }

    .rainbowperformance h1 {
     
        font-size: 80px;
        padding-left: 40px;
    }
     

    .rf_content {
        
       
        padding: 0 40px;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
        
    }

    .rf_content .item {
        width: 47%;
        margin: 0 0 50px 0px;
        height: 450px;
    }

    .mask {
       
        font-size: 22px;
        
    }
    .font22
    {
        font-size: 16px;
        font-family: "思源宋体 CN" !important;
    }

    .CollaborationAndExploration .ccont1 {
        width: 670px;
        height: auto;
         
    }


    .CollaborationAndExploration .box {
        width: 50%;
        height: 200px;
      
    }
    .CollaborationAndExploration .box img {
        width: 100%;
        height: 200px;
        transition: all .5s linear;
    }
    .CollaborationAndExploration .box2 {
        width: 100%;
        background: url(../images/x1.png);
        background-size: 100%;
        font-size: 50px;
        color: #eee;
        letter-spacing: 3px;
        height: 126px;
    
    }
    .mq {
        
        font-size: 22px;
        padding-top: 50px;
        padding-left:10px;
        padding-right:10px;
    }
    .CollaborationAndExploration {
        
        height: auto;
        
    
    }


    .rainbowperformanceDetails .l {
        width: 430px;
        height: 650px;
        position: relative;
    }
 

.m {
    width: 370px;
    padding-top: 100px;
}
.m>img {
    width: 65px;
}

.m h1 {
    color: #fff;
    margin: 50px 0 50px;
    font-size: 30px;
}

.m p {
    color: #fff;
    font-size: 12px;
    margin: 20px 0;
}

.m p span {
    display: inline-block;
    margin-right: 30px;
}

.m p:last-of-type {
    margin-top: 50px;
}

.out_r
{
    width: 310px;
    overflow: hidden;
    padding-top: 120px;
}

.out_r>.r {
    width: 330px;
    text-align: left;
    height: 530px;
    /* overflow-y:; */
    overflow-y: scroll;
}

.out_r>.r h3 {
    color: #eee;
    text-align: left;
    
    font-size: 12px;
    margin-bottom: 20px;
}

.out_r>.r p {
    margin: 20px 0;
    color: #fff;
    font-size: 12px;
    line-height: 100%;
}
.popframe>.close>img {
    width: 50px;
    
}

.rainbowWorks_lr2 {
    width: 300px;
  
    position: absolute;
    top: 300px;
    right: 400px;
}
.rainbowWorks_lr2>img {
    width: 100%;
}



.footer {
    width: 100%;
    height: auto;
    background-color: #121b2d;
    padding: 30px 40px;
}


.footer .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .row a {
    margin: 15px 14px;
}

/* .footer .row a:nth-child(9)
{
    margin-top: 12px;
}
.footer .row a:nth-child(10)
{
    margin-top: 12px;
}
.footer .row a:nth-child(11)
{
    margin-top: 12px;
}
.footer .row a:nth-child(12)
{
    margin-top: 12px;
}
.footer .row a:nth-child(13)
{
    margin-top: 11px;
}
.footer .row a:nth-child(15)
{
    margin-top: 18px;
}

.footer .row a:nth-child(16)
{
    margin-top: 12px;
} */

.logo {
    width: 220px;
}

.logo img {
    width: 100%;
    vertical-align: middle;
    margin-left: 50px;
    margin-top: 15px;
}

/* .is {
    color: #FFF;
    font-size: 22px;
    margin-top: 40px;
} */
.is {
    padding-left: 40px;
    margin-top: 10px;
    line-height: 150%;
}

.r2 {
    
    padding-bottom: 50px;
}



.popframe>.close {
    position: absolute;
    top: 1200px;
    right: 310px;
   
    
}
.popframe>.close>img {
    width: 70px;
    
}

.popframe1 .close1 {
     padding-top: 100px;
     padding-left: 300px;
     padding-bottom: 100px;
}
.popframe1 .close1 img {
    
    width: 70px;
    margin: 0 auto;
}

.details2 {
    
    width: 100%;
    
    padding-top: 110px;
    padding-left: 40px;;
}



.details2 h2 {
    color: #fff;
    
    font-size: 32px;
    margin-top: 50px;
}

.details2 img {
    width: 668px;
}

.circle1
{
    display: block;
}



.popframe1
{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 27, 45,0.96);
    z-index: 20000;
    overflow-y: scroll;
    padding-left: 40px;
}


.rainbowperformanceDetails {
    width: 100%;
 
    display: block;
   
    padding-top: 55px;
    overflow: hidden;
}

.rainbowperformanceDetails .l {
    width: 650px;
    height: 970px;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}

.m {
    width: 515px;
}

.m h1 {
    color: #fff;
    margin: 50px 0 50px;
    font-size: 40px;
}

.m p {
    color: #fff;
    font-size: 26px;
    margin: 20px 0;
}

.m p span {
    display: inline-block;
    margin-right: 30px;
}

.m p:last-of-type {
    margin-top: 50px;
}

.out_r
{
    width: 410px;
    height: auto;
    padding-top: 160px;
}

.out_r>.r {
    width: 430px;
    text-align: left;
    height: auto;
    /* overflow-y:; */
    overflow-y: scroll;
}

.out_r>.r h3 {
    color: #eee;
    text-align: left;
    
    font-size: 26px;
    margin-bottom: 20px;
}

.out_r>.r p {
    margin: 20px 0;
    color: #fff;
    font-size: 26px;
    line-height: 100%;
}

.close1
{
    display: block;
}

.cont-logo img
{
    width: 60px;
}

 }



/* 
@media (min-width: 1680px) {  


} */
